<style>
    input{
        display: inline;
        padding: 6px;
        margin: 10px;
        text-align:right
    }
    div{
        margin: 10px;
        padding: 5px;
        display:block;
    }
    body{
        
        text-align: center;
    }
</style>
<body >
  
<h1>CALCULATOR</h1>
<form action="">
    <div>
    <input name="no1" placeholder="Enter first number " value="{{no1}}"><br>
    <input name="no2" placeholder="Enter second number" value="{{no2}}"><br>
    <input name="ans" value="{{ans}}"><br>
    </div>
    <input type="submit" name="op" value="substraction" formaction="/secondapp/calculator">
    <input type="submit" name="op" value="addition" formaction="/secondapp/calculator">
    <input type="submit" name="op" value="multiplication" formaction="/secondapp/calculator">
    <input type="submit"  name ="op" value="division" formaction="/secondapp/calculator">

    
</form>
</body>